
.vs/zero/v16/Browse.VC.db
.vs/zero/v16/Browse.VC.db-shm
.vs/zero/v16/Browse.VC.db-wal
.vs/zero/v16/Browse.VC.opendb
.vs/zero/v16/ipch/AutoPCH/b0c15206624094f3/MAIN.ipch
Debug/vc142.idb
Debug/vc142.pdb
Debug/zero.log
Debug/zero.tlog/CL.command.1.tlog
Debug/zero.tlog/unsuccessfulbuild
Debug/zero.tlog/zero.lastbuildstate
Debug/zero.vcxproj.FileListAbsolute.txt
Debug/zero.tlog/link.write.1.tlog
Debug/zero.tlog/link.read.1.tlog
Debug/zero.tlog/link.command.1.tlog
Debug/zero.tlog/CL.write.1.tlog
Debug/zero.tlog/CL.read.1.tlog
Debug/zero.pdb
Debug/zero.ilk
Debug/zero.exe
Debug/main.obj
.vs/zero/v16/.suo
.vs/zero/v16/.suo
